body {
background-color: black;
background-image: url(https://www.taylorguitars.com/sites/default/files/builders-reserve-series-iii-hero-taylor-guitars.jpg);
margin-left: 30px;
margin-bottom: 10px;
margin-right: 3px;
margin-top: 10px;
}
h1	{
margin: 0px auto;
font-size: 61pt;
color: white;
}
h2	{
font-size: 44pt;
}
ul {
font-size: 44pt;
}